<template>
  <div class="hello">
    <Row>
      <Col>
      <DatePicker :options="options" v-model="dateRange" @on-change="dateChange" type="daterange" split-panels placeholder="Select date" style="width: 200px"></DatePicker>
      <Button @click="getTodaysWorklog" :loading="spinShow">
        <Icon v-show="!spinShow" type="refresh"></Icon>
      </Button>
      </Col>
    </Row>
    <br>

    <Tabs value="name1">
      <TabPane label="Summary" name="name1">
        <Table style="display:table" :columns="columns1" stripe :loading="spinShow" :data="issuesByPeople"></Table>
      </TabPane>
      <TabPane label="Details" name="name2">
        &nbsp;<RadioGroup v-model="viewBy">
          <Radio label="byPeople">
            <span>View by User</span>
          </Radio>
          <Radio label="byIssue">
            <span>View by Issue</span>
          </Radio>
        </RadioGroup>
        <br />
        <br />
        <Table v-show="viewBy==='byPeople'" :columns="colWorklog" stripe :loading="spinShow" :data="worklogByPeople"></Table>
        <Table v-show="viewBy==='byIssue'" :columns="colWorklogByIssue" stripe :loading="spinShow" :data="worklogByIssue"></Table>
      </TabPane>
      <TabPane label="Weekly Report" name="name3">
        <Button v-show="!spinShow" @click="exportCsv">
        <Icon type="ios-download"></Icon>
      </Button>
      <br>
      <br>
        <Table ref="table" style="display:table" :columns="colReport" stripe :loading="spinShow" :data="issuesByPeople"></Table>
      </TabPane>
    </Tabs>

    <Modal v-model="showDetail" width="720" :title="'Issues detail for ' + this.people">
      <Table :columns="columns" stripe :data="issuesDetailByPeople"></Table>
    </Modal>
  </div>
</template>

<script>
import _ from 'lodash'
import accounting from 'accounting'
import Vue from 'vue'
import moment from 'moment'

export default {
  name: 'DailyOutput',
  data () {
    var self = this
    return {
      options: {
        shortcuts: [
          {
            text: 'Today',
            value () {
              return [new Date(), new Date()]
            }
          },
          {
            text: 'This Week',
            value () {
              return [moment().day(1).toDate(), moment().day(5).toDate()]
            }
          },
          {
            text: 'Last Week',
            value () {
              return [moment().day(1).subtract(7, 'days').toDate(), moment().day(5).subtract(7, 'days').toDate()]
            }
          }
        ]
      },
      viewBy: 'byPeople',
      spinShow: true,
      issues: [],
      people: '',
      showDetail: false,
      dateRange: [
        new Date(),
        new Date()
      ],
      weeklyHours: {},
      columns1: [
        {
          title: 'Assignee',
          key: 'assignee',
          width: 150
        }, {
          title: 'Original',
          key: 'original',
          width: 110
        }, {
          title: 'Remaining',
          key: 'remaining',
          width: 110
        }, {
          title: 'Spent',
          key: 'timeSpent',
          width: 110
        }, {
          title: 'Output',
          key: 'outputRadio',
          render: (h, params) => {
            return h('a', {
              on: {
                'click': () => {
                  self.people = params.row.assignee
                  self.showDetail = true
                }
              }
            }, params.row.outputRadio + '%')
          },
          width: 100
        }
      ],
      columns: [
        {
          title: '',
          key: 'key',
          render: (h, params) => {
            return h('Tooltip', {
              props: {
                content: params.row.summary,
                placement: 'top-start'
              },
              scopedSlots: {
                default: p => {
                  return h('a', {
                    attrs: {
                      href: 'https://abcsproductdev.atlassian.net/browse/' + params.row.key,
                      target: '_blank'
                    }
                  }, params.row.key)
                }
              }
            })
          },
          width: 150
        }, {
          title: 'Status',
          key: 'status',
          sortable: true,
          width: 150
        }, {
          title: 'Original',
          key: 'original',
          width: 100
        }, {
          title: 'Spent',
          key: 'timeSpent',
          width: 100
        }, {
          title: 'Remaining',
          key: 'remaining',
          width: 110
        }, {
          title: 'Output',
          key: 'outputRadio',
          render: (h, param) => {
            return h('div', param.row.outputRadio + '%')
          },
          width: 100
        }
      ],
      colReport: [
        {
          title: 'Name',
          key: 'assignee',
          width: 150
        }, {
          title: 'Input(hours)',
          key: 'input',
          render: (h, params) => {
            var self = this
            if (params.row.assignee === 'Total') return h('div', params.row.input)
            return h('Input', {
              props: {
                value: params.row.input
              },
              on: {
                'on-blur': (event) => {
                  var temp = self.weeklyHours
                  temp[params.row.assignee] = event.target.value
                  self.weeklyHours = temp
                }
              }
            })
          },
          width: 150
        }, {
          title: 'Output(hours)',
          key: 'output',
          width: 150
        }, {
          title: 'Output capacity',
          key: 'outputRadio',
          render: (h, params) => {
            return h('a', {
              on: {
                'click': () => {
                  self.people = params.row.assignee
                  self.showDetail = true
                }
              }
            }, params.row.outputRadio + '%')
          },
          width: 150
        }
      ],
      colWorklog: [
        {
          title: 'Name',
          key: 'author',
          sortType: 'asc',
          width: 150
        }, {
          title: 'Total',
          key: 'total',
          width: 150
        }, {
          title: 'Logs',
          render: (h, params) => {
            var temp = _.each(params.row.worklog, (l) => {
              l.date = moment(l.started).format('MM-DD')
            })

            var logs = _(temp)
              .groupBy(x => x.date)
              .map((value, key) => {
                return {
                  date: key,
                  logs: value
                }
              }).orderBy(x => x.date)
              .map(x => {
                var logsByDay = []

                logsByDay.push(h('span', {}, x.date + ' ' + _.sumBy(x.logs, y => { return y.timeSpent })))

                _.each(x.logs, l => {
                  logsByDay.push(h('Tooltip', {
                    props: {
                      placement: 'top-start'
                    },
                    scopedSlots: {
                      default: p => {
                        return h('a', {
                          'class': 'work-log'
                        }, l.key + ' ' + l.timeSpent + 'H')
                      },
                      'content': p => {
                        return h('div', {}, [
                          h('p', {}, 'Created: ' + l.created),
                          h('p', {}, 'Started: ' + l.started),
                          h('p', {}, 'Updated: ' + l.updated),
                          h('p', {}, 'Update Author: ' + l.updateAuthor)
                        ])
                      }
                    }
                  }))
                })

                return h('div', {}, logsByDay)
              }).value()

            return h('div', {}, logs)
          }
        }
      ],
      colWorklogByIssue: [
        {
          title: '',
          key: 'key',
          sortable: true,
          render: (h, params) => {
            return h('Tooltip', {
              props: {
                content: params.row.summary,
                placement: 'top-start'
              },
              scopedSlots: {
                default: p => {
                  return h('a', {
                    attrs: {
                      href: 'https://abcsproductdev.atlassian.net/browse/' + params.row.key,
                      target: '_blank'
                    }
                  }, params.row.key)
                }
              }
            })
          },
          width: 110
        }, {
          title: 'Assignee',
          width: 150,
          sortable: true,
          key: 'assignee'
        }, {
          title: 'Status',
          key: 'status',
          sortable: true,
          width: 150
        }, {
          title: 'Original',
          key: 'original',
          width: 100
        }, {
          title: 'Remaining',
          key: 'remaining',
          width: 130,
          sortable: true
        }, {
          title: 'Logs',
          render: (h, params) => {
            var logs = _.map(_.orderBy(params.row.worklog, 'started', 'asc'), (l) => {
              return h('Tooltip', {
                props: {
                  placement: 'top-start'
                },
                scopedSlots: {
                  default: p => {
                    return h('a', {
                      'class': 'work-log'
                    }, l.author + ' ' + l.timeSpent + 'H')
                  },
                  'content': p => {
                    return h('div', {}, [
                      h('p', {}, 'Created: ' + l.created),
                      h('p', {}, 'Started: ' + l.started),
                      h('p', {}, 'Updated: ' + l.updated),
                      h('p', {}, 'Update Author: ' + l.updateAuthor)
                    ])
                  }
                }
              })
            })
            return h('div', {}, logs)
          }
        }
      ]
    }
  },
  created () {
    this.dateRange[0] = moment().day(1).toDate()
    this.dateRange[1] = moment().day(5).toDate()
    this.getTodaysWorklog()
  },
  computed: {
    jql () {
      var start = moment(this.dateRange[0]).format('YYYY-MM-DD')
      var end = moment(this.dateRange[1]).format('YYYY-MM-DD')
      return 'Project in (PU, BPP, HRA, WPI, HRAP, EG) AND WorkLogDate>=' +
          start + ' AND WorkLogDate<=' + end + ' ORDER BY key DESC'
    },
    issuesData () {
      return _.map(this.issues, (s) => {
        var p = {
          key: s.key,
          summary: s.fields.summary,
          assignee: s.fields.assignee.name,
          status: s.fields.status.name,
          statusIcon: s.fields.status.iconUrl,
          original: s.fields.timeoriginalestimate / 3600,
          timeSpent: s.fields.timespent / 3600,
          remaining: s.fields.timeestimate / 3600,
          outputRadio: 0,
          worklog: s.fields.worklogs
        }
        if (p.original) {
          p.outputRadio = accounting.formatNumber(p.original / (p.timeSpent + p.remaining) * 100, 2)
        }
        return p
      })
    },
    issuesByPeople () {
      let report = _(this.issuesData)
        .groupBy(x => x.assignee)
        .map((value, key) => {
          var p = {
            assignee: key,
            timeSpent: _.sumBy(value, (x) => { return x.timeSpent }),
            remaining: _.sumBy(value, (x) => { return x.remaining }),
            original: _.sumBy(value, (x) => { return x.original }),
            issues: value
          }
          var data = this.weeklyHours
          p.input = data[p.assignee] || 40

          if (p.original) {
            p.outputRadio = accounting.formatNumber(p.original / (p.timeSpent + p.remaining) * 100, 2)
            p.output = accounting.formatNumber(p.input * p.original / (p.timeSpent + p.remaining), 0) * 1
          }
          return p
        })
        .sortBy('assignee')
        .value()
      if (report.length > 0) {
        let total = {
          assignee: 'Total',
          input: _.sumBy(report, (x) => { return x.input * 1 }),
          output: _.sumBy(report, (x) => { return x.output * 1 }),
          original: _.sumBy(report, (x) => { return x.original * 1 }),
          remaining: _.sumBy(report, (x) => { return x.remaining * 1 }),
          timeSpent: _.sumBy(report, (x) => { return x.timeSpent * 1 }),
          issues: []
        }
        total.outputRadio = accounting.formatNumber(total.output / total.input * 100, 2)
        report.push(total)
      }
      return report
    },
    issuesDetailByPeople () {
      return _.groupBy(this.issuesData, 'assignee')[this.people]
    },
    worklogData () {
      var temp = []
      _.each(this.issues, (s) => {
        _.each(s.fields.worklog.worklogs, (l) => {
          var date = moment(l.started)
          var start = new Date(this.dateRange[0].getFullYear(),
            this.dateRange[0].getMonth(), this.dateRange[0].getDate(), 0, 0, 0)
          var end = new Date(this.dateRange[1].getFullYear(),
            this.dateRange[1].getMonth(), this.dateRange[1].getDate() + 1, 0, 0, 0)
          // only get the log in date range
          if (date.isAfter(start) && date.isBefore(end)) {
            temp.push({
              key: s.key,
              summary: s.fields.summary,
              assignee: s.fields.assignee.name,
              status: s.fields.status.name,
              created: moment(l.created).format('YYYY-MM-DD HH:mm'),
              updated: moment(l.updated).format('YYYY-MM-DD HH:mm'),
              started: moment(l.started).format('YYYY-MM-DD HH:mm'),
              timeSpent: l.timeSpentSeconds / 3600,
              author: l.author.name,
              updateAuthor: l.updateAuthor.name,
              id: l.id,
              date: moment(l.started).format('YYYY-MM-DD')
            })
          }
        })
      })
      return temp
    },
    worklogByPeople () {
      return _(this.worklogData)
        .groupBy(x => x.author)
        .map((value, key) => {
          return {
            author: key,
            total: _.sumBy(value, (x) => { return x.timeSpent }),
            worklog: value
          }
        })
        .value()
    },
    worklogByIssue () {
      var self = this
      return _(this.worklogData)
        .groupBy(x => x.key)
        .map((value, key) => {
          var issue = _.find(self.issuesData, x => x.key === key)
          return {
            key: key,
            assignee: issue.assignee,
            summary: issue.summary,
            status: issue.status,
            original: issue.original,
            timeSpent: issue.timeSpent,
            remaining: issue.remaining,
            worklog: value
          }
        })
        .value()
    }
  },
  methods: {
    getTodaysWorklog () {
      this.spinShow = true
      this.$http.get('/rest/api/2/search', {
        jql: this.jql,
        fields: 'summary,status,assignee,worklog,timeoriginalestimate,timespent,timeestimate,issuetype'
      }).then((response) => {
        this.spinShow = false

        _.each(response.data.issues, (s) => {
          Vue.set(this.weeklyHours, s.fields.assignee.name, 40)
        })
        this.issues = response.data.issues
      })
    },
    dateChange () {
      setTimeout(this.getTodaysWorklog(), 0)
    },
    exportCsv () {
      this.$refs.table.exportCsv({
        filename: 'Output Data'
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .work-log {
    display: inline-block;
    border: 1px solid #3e76f6;
    margin: 3px 4px 2px;
    padding: 0 4px;
    border-radius: 5px;
  }
</style>
