<template>
  <div class="hello">

  </div>
</template>

<script>
import _ from 'lodash'
export default {
  name: 'NewTickets',
  data () {
    return {
      jql: 'issuetype in (Bug, Epic, Story) AND created >= -9h ORDER BY key DESC',
      isRunning: false,
      watchQueue: []
    }
  },
  created () {
    var ajaxQueue = function (callback) {
      return {
        queue: [],
        add: function () {
          if (typeof this.queue === 'undefined') {
            this.queue = []
          }
          var index = this.queue.length
          var id = Math.floor(Math.random() * 1000000)
          this.queue[index] = id
        },
        remove: function () {
          var index = this.queue.length - 1
          this.queue.splice(index, 1)
          var size = this.queue.length
          if (size === 0) {
            if (typeof callback === 'function') {
              callback()
            }
          }
        }
      }
    }
    var self = this
    this.watchQueue = ajaxQueue(() => {
      self.isRunning = false
    })
    // this.autoWatchNewIssue()
    // this.getNewTickets()
  },
  methods: {
    autoWatchNewIssue () {
      setInterval(this.getNewTickets, 5 * 1000)
    },
    getNewTickets () {
      console.log(this.isRunning)
      if (this.isRunning) {
        return
      }
      this.isRunning = true
      // this.$axios.get('/rest/api/2/issue/PU-1452').then((response) => {
      //   console.log(response.data)
      // })
      var self = this
      this.$http.get('/rest/api/2/search', {
        jql: this.jql
      }).then((response) => {
        if (response.data.total > 0) {
          self.bulkWatch(response.data.issues)
        } else {
          self.isRunning = false
        }
      })
    },
    addWatcher (key) {
      var self = this
      this.$http.post('/rest/api/2/issue/' + key + '/watchers').then((response) => {
        console.log(key + ' is watching')
        self.watchQueue.remove()
      }).catch(() => {
        self.watchQueue.remove()
      })
    },
    bulkWatch (issues) {
      var self = this
      _.each(issues, (issue, index) => {
        console.log(issue.key + ' ' + issue.fields.watches.isWatching)
        if (!issue.fields.watches.isWatching) {
          self.watchQueue.add()
          self.addWatcher(issue.key)
        }
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
