<template>
  <div class="sprint">
    <Row :gutter="20">
      <Col span="10">
      <Select ref="select" @on-change="sprintChange" v-model="selectSprints" filterable multiple remote :remote-method="getSprints" :loading="loading" placeholder="Select Sprint">
        <Option v-for="option in sprintOptions" :value="option.value" :key="option.value" v-html="option.label">{{option.label}}</Option>
      </Select>
      </Col>
      <Col span="10">
      <DatePicker v-model="dateRange" type="daterange" split-panels placeholder="Select date" style="width: 200px"></DatePicker>
      </Col>
    </Row>
    <br>
    <Tabs value="name1" v-show="selectSprints.length>0">
      <TabPane label="Summary" name="name1">
      <Button @click="getIssuesInSprint" :loading="spinShow">
        <Icon v-show="!spinShow" type="refresh"></Icon>
      </Button>
      <Button v-show="!spinShow" @click="exportCsv">
        <Icon type="ios-download"></Icon>
      </Button>
      <Button v-show="!spinShow" @click="saveSprintInitData" type="info">Save Sprint Data</Button>

      <br>
      <br>
        <Table ref="table" :showHeader="false" border :columns="sprintCol" stripe :loading="spinShow" :data="sprintTableData"></Table>
      </TabPane>
      <TabPane label="Detail" name="name2">
        <Table :columns="columns" stripe :loading="spinShow" :data="issuesData"></Table>
      </TabPane>
    </Tabs>
    <!-- <Modal v-model="showDetail" width="720" :title="'Issues detail for ' + this.people">
        <Table :columns="columns" stripe :data="issuesDetailByPeople"></Table>
      </Modal> -->
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import accounting from 'accounting'
import mix from '../jqlMix'
import cookie from 'browser-cookies'

export default {
  name: 'SprintReport',
  data () {
    var self = this
    return {
      baseJql: 'Project in (PU, BPP, HRA, WPI, HRAP) AND Sprint in (78, 53) ORDER BY key DESC',
      spinShow: true,
      issues: [],
      people: '',
      showDetail: false,
      loading: false,
      sprintOptions: [],
      selectSprints: [],
      dateRange: [],
      timer: 0,
      columns1: [
        {
          title: 'Assignee',
          key: 'assignee'
        }, {
          title: 'Original',
          key: 'original',
          width: 100
        }, {
          title: 'Remaining',
          key: 'remaining',
          width: 100
        }, {
          title: 'Spent',
          key: 'timeSpent',
          width: 100
        }, {
          title: 'Output',
          key: 'outputRadio',
          render: (h, params) => {
            return h('a', {
              on: {
                'click': () => {
                  self.people = params.row.assignee
                  self.showDetail = true
                }
              }
            }, params.row.outputRadio + '%')
          },
          width: 100
        }
      ],
      columns: [
        {
          title: '',
          key: 'key',
          render: (h, params) => {
            return h('Tooltip', {
              props: {
                content: params.row.summary,
                placement: 'top-start'
              },
              scopedSlots: {
                default: p => {
                  return h('a', {
                    attrs: {
                      href: 'https://abcsproductdev.atlassian.net/browse/' + params.row.key,
                      target: '_blank'
                    }
                  }, params.row.key)
                }
              }
            })
          },
          width: 120
        }, {
          title: 'Assignee',
          key: 'assignee',
          sortable: 'true'
        }, {
          title: 'Status',
          key: 'status',
          width: 150,
          sortable: 'true'
        }, {
          title: 'Original',
          key: 'original',
          width: 100
        }, {
          title: 'Remaining',
          key: 'remaining',
          width: 130,
          sortable: 'true'
        }, {
          title: 'Spent',
          key: 'timeSpent',
          width: 100
        }, {
          title: 'Output',
          key: 'outputRadio',
          render: (h, param) => {
            return h('div', param.row.outputRadio + '%')
          },
          width: 100,
          sortable: 'true'
        }
      ],
      sprintCol: [
        {
          title: '',
          key: 'label1',
          render: (h, params) => {
            return h('strong', params.row.label1)
          },
          width: 175
        }, {
          title: 'Status',
          key: 'data1',
          width: 110
        }, {
          title: 'Original',
          key: 'label2',
          render: (h, params) => {
            return h('strong', params.row.label2)
          },
          width: 175
        }, {
          title: 'Remaining',
          key: 'data2',
          width: 110
        }, {
          title: 'Spent',
          key: 'label3',
          render: (h, params) => {
            return h('strong', params.row.label3)
          },
          width: 175
        }, {
          title: 'Output',
          key: 'data3',
          width: 110
        }
      ]
    }
  },
  mixins: [mix],
  created () {
    this.getIssuesInSprint()
  },
  mounted () {
    this.dateRange[0] = moment().day(1).toDate()
    this.dateRange[1] = moment().day(5).toDate()
    // var month = moment().format('MMMM')
    this.getSprints('HRA & WPI')
  },
  computed: {
    jql () {
      let temp = this.selectSprints.join(',')
      return 'Project in (PU, BPP, HRA, WPI, HRAP) AND Sprint in (' + temp + ') ORDER BY key DESC'
      // return this.baseJql
    },
    issuesData () {
      var temp = []
      _.each(this.issues, (s) => {
        temp.push({
          key: s.key,
          summary: s.fields.summary,
          assignee: s.fields.assignee && s.fields.assignee.name,
          status: s.fields.status && s.fields.status.name,
          statusIcon: s.fields.status.iconUrl,
          original: s.fields.timeoriginalestimate / 3600,
          timeSpent: s.fields.timespent / 3600,
          remaining: s.fields.timeestimate / 3600,
          outputRadio: 0
        })
      })

      _.each(temp, (s) => {
        if (s.original) {
          s.outputRadio = accounting.formatNumber(s.original / (s.timeSpent + s.remaining) * 100, 2)
        }
      })

      return temp
    },
    sprintData () {
      var temp = {
        start: moment(this.dateRange[0]).format('DD/MM/YYYY'),
        end: moment(this.dateRange[1]).format('DD/MM/YYYY'),
        plan: _.sumBy(this.issuesData, (x) => { return x.original }),
        timeSpent: _.sumBy(this.issuesData, (x) => { return x.timeSpent }),
        remaining: _.sumBy(this.issuesData, (x) => {
          return ['QA', 'UAT', 'Resolved', 'Closed', 'Done'].indexOf(x.status) >= 0 ? 0 : x.remaining
        }),
        original: _.sumBy(this.issuesData, (x) => { return x.original }),
        verified: _.sumBy(this.issuesData, (x) => {
          return ['UAT', 'Resolved', 'Closed', 'Done'].indexOf(x.status) >= 0 ? x.original : 0
        })
      }
      var init = this.getSprintInitData()
      if (init) {
        temp.start = init.start
        temp.end = init.end
        // 计划工时 = 每周一保存的初始剩余工时
        temp.plan = init.remaining
        // 原始工时 = 初始计划工时 + 调整工时（当前的原始 - 初始的原始）
        temp.original = temp.plan + temp.original - init.original
        // 投入工时 = 当前的投入 - 初始投入
        temp.timeSpent = temp.timeSpent - init.timeSpent
        // 验证工时= 当前的验证 - 初始验证
        temp.verified = temp.verified - init.verified
      }
      return temp
    },
    sprintOrignalData () {
      let timeSpentThisWeek = _.sumBy(this.worklogDataCurrentWeek, (x) => { return x.timeSpent })
      console.log(timeSpentThisWeek)
      var temp = {
        start: moment(this.dateRange[0]).format('DD/MM/YYYY'),
        end: moment(this.dateRange[1]).format('DD/MM/YYYY'),
        plan: _.sumBy(this.issuesData, (x) => { return x.original }),
        timeSpent: _.sumBy(this.issuesData, (x) => { return x.timeSpent }) - timeSpentThisWeek,
        remaining: _.sumBy(this.issuesData, (x) => {
          return ['QA', 'UAT', 'Resolved', 'Closed', 'Done'].indexOf(x.status) >= 0 ? 0 : x.remaining
        }) + timeSpentThisWeek,
        original: _.sumBy(this.issuesData, (x) => { return x.original }),
        verified: _.sumBy(this.issuesData, (x) => {
          return ['UAT', 'Resolved', 'Closed', 'Done'].indexOf(x.status) >= 0 ? x.original : 0
        })
      }
      return temp
    },
    sprintTableData () {
      var temp = this.sprintData

      var data = []
      data.push({
        label1: 'Start Date',
        label2: 'End Date',
        label3: 'Output Capacity',
        data1: temp.start,
        data2: temp.end,
        data3: accounting.formatNumber(temp.original / (temp.timeSpent + temp.remaining) * 100, 2) + '%'
      })
      data.push({
        label1: 'Original Estimated',
        label2: 'Increase/Decrease',
        label3: 'Total work',
        data1: temp.plan,
        data2: temp.original - temp.plan,
        data3: temp.original
      })
      data.push({
        label1: 'Input',
        label2: 'Output',
        label3: 'Verified Output',
        data1: temp.timeSpent,
        data2: accounting.formatNumber(temp.timeSpent * temp.original / (temp.timeSpent + temp.remaining), 2),
        data3: temp.verified
      })
      data.push({
        label1: 'Remaining Output',
        label2: 'Remaining Input',
        label3: 'Expected End dated',
        data1: accounting.formatNumber(temp.original - temp.timeSpent * temp.original / (temp.timeSpent + temp.remaining), 2),
        data2: temp.remaining,
        data3: temp.end
      })
      return data
    },
    worklogDataCurrentWeek () {
      var temp = []
      _.each(this.issues, (s) => {
        _.each(s.fields.worklog.worklogs, (l) => {
          var date = moment(l.started)
          var start = new Date(this.dateRange[0].getFullYear(),
            this.dateRange[0].getMonth(), this.dateRange[0].getDate(), 0, 0, 0)
          var end = new Date(this.dateRange[1].getFullYear(),
            this.dateRange[1].getMonth(), this.dateRange[1].getDate() + 1, 0, 0, 0)
          // only get the log in date range
          if (date.isAfter(start) && date.isBefore(end)) {
            temp.push({
              key: s.key,
              summary: s.fields.summary,
              assignee: s.fields.assignee.name,
              status: s.fields.status.name,
              created: moment(l.created).format('YYYY-MM-DD HH:mm'),
              updated: moment(l.updated).format('YYYY-MM-DD HH:mm'),
              started: moment(l.started).format('YYYY-MM-DD HH:mm'),
              timeSpent: l.timeSpentSeconds / 3600,
              author: l.author.name,
              updateAuthor: l.updateAuthor.name,
              id: l.id
            })
          }
        })
      })
      return temp
    }
  },
  methods: {
    getIssuesInSprint () {
      if (this.selectSprints.length === 0) return
      this.spinShow = true
      this.$http.get('/rest/api/2/search', {
        jql: this.jql,
        fields: 'summary,status,assignee,worklog,timeoriginalestimate,timespent,timeestimate,issuetype'
      }).then((response) => {
        this.spinShow = false
        this.issues = response.data.issues
      })
    },
    sprintChange () {
      this.$refs.select.hideMenu()
      setTimeout(this.getIssuesInSprint(), 0)
    },
    getSprints (query) {
      clearTimeout(this.timer)
      if (query !== '') {
        this.timer = setTimeout(() => {
          let current = this.timer
          this.loading = true
          this.getJqlSuggestion('Sprint', query, (data) => {
            if (current === this.timer) {
              this.loading = false
              var temp = _.map(data.results, (x) => {
                return {
                  value: x.value,
                  label: x.displayName,
                  labelLower: _.toLower(x.displayName),
                  date: x.displayName.split(' - ')[1]
                }
              })
              this.sprintOptions = _.orderBy(temp, ['labelLower', 'date'], ['desc', 'asc'])
            }
          })
        }, 200)
      } else {
        this.sprintOptions = []
      }
    },
    saveSprintInitData () {
      if (!this.selectSprints || this.selectSprints.length === 0) {
        this.$Notice.error({
          title: 'Please choose one sprint first'
        })
        return
      }
      this.$Modal.confirm({
        title: 'Confirm',
        content: '<p>Do you want to update sprint init data?</p>',
        onOk: () => {
          var sprints = this.selectSprints.join('|')
          cookie.set('SprintReport_' + sprints, JSON.stringify(this.sprintOrignalData), {expires: 365})
          this.$Notice.success({
            title: 'Sprint data saved'
          })
        }
      })
    },
    getSprintInitData () {
      var sprints = this.selectSprints.join('|')
      var data = cookie.get('SprintReport_' + sprints)
      if (!data) return null
      return JSON.parse(data)
    },
    exportCsv () {
      this.$refs.table.exportCsv({
        filename: 'Sprint Data'
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .ivu-tooltip-inner {
    white-space: normal;
  }

  .ivu-table-wrapper {
    display: inline-block
  }

  .ivu-icon {
    font-size: 16px
  }
</style>
