<template>
  <div id="app">
      <Layout>
        <Sider hide-trigger :style="{background: '#fff'}">
          <Menu :style="{height: '100%'}" active-name="1-1" theme="light" width="auto" :open-names="['1']">
            <Submenu name="1">
              <template slot="title">
                <Icon type="ios-navigate"></Icon>
                JIRA
              </template>
              <MenuItem name="1-1">
                <router-link to="/output-capacity">Output Capacity</router-link>
              </MenuItem>
              <MenuItem name="1-2">
              <router-link to="/sprint-report">Sprint Report</router-link>
              </MenuItem>
              <MenuItem name="1-3">Option 3</MenuItem>
            </Submenu>
            <Submenu name="2">
              <template slot="title">
                <Icon type="ios-keypad"></Icon>
                Item 2
              </template>
              <MenuItem name="2-1">Option 1</MenuItem>
              <MenuItem name="2-2">Option 2</MenuItem>
            </Submenu>
            <Submenu name="3">
              <template slot="title">
                <Icon type="ios-analytics"></Icon>
                Item 3
              </template>
              <MenuItem name="3-1">Option 1</MenuItem>
              <MenuItem name="3-2">Option 2</MenuItem>
            </Submenu>
          </Menu>
        </Sider>
        <Layout :style="{padding: '40px 24px 24px'}">
          <Content :style="{padding: '24px', background: '#fff'}">
            <router-view/>
          </Content>
        </Layout>
      </Layout>
  </div>
</template>

<script>
export default {
  name: 'App',
  mounted () {
    document.getElementById('app').style.height = window.innerHeight + 'px'
    // var minHeight = document.getElementsById('#app')[0].clientHeight
    //  - $('.header').outerHeight() - $('.footer').outerHeight()
    // $('#root-container').css('min-height', minHeight + 'px')
  }
}
</script>

<style>
  #app {
    font-family: 'Calibri', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    padding-top: 60px;
  }
  .ivu-layout.ivu-layout-has-sider {
    height: 100%
  }
  .ivu-tooltip-inner {
    white-space: normal;
  }
  .ivu-table {
    font-size: 14px;
    color: #000
  }
</style>
